@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'components/button';
@import 'components/input';
@import 'views/welcome';

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	color: rgba(0, 0, 0, .87);
}

.app-container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
