@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.app-questions__header, .app-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.app-button-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px; }

.app-button {
  -webkit-appearance: none;
  background: linear-gradient(to right, #736CEC 0%, #CDA1FA 100%);
  border: 0;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  height: 50px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-shadow: rgba(74, 73, 93, 0.3) 0 2px 15px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
  text-decoration: none; }
  .app-button:focus {
    outline: 0;
    box-shadow: rgba(74, 73, 93, 0.5) 0 2px 15px; }
  .app-button:active {
    opacity: .9; }
  .app-button:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .8; }

.app-input-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px; }

.app-input {
  -webkit-appearance: none;
  width: 100%;
  background-color: #FAF5FF;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #eddcff; }
  .app-input:focus:not(.app-input--error) {
    outline: 0;
    border: 1px solid #d4a9ff; }
  .app-input::-webkit-input-placeholder {
    color: #e1c2ff; }
  .app-input--error {
    border-color: #FF7890; }
    .app-input--error:focus {
      outline: 0;
      border-color: #FF7890; }
  .app-input__feedback--error {
    color: #ff7890; }

.app-welcome__logo {
  margin: 0 auto;
  text-align: center;
  padding: 0 90px;
  padding-top: 40px; }
  .app-welcome__logo img {
    vertical-align: top;
    width: 100%;
    max-width: 305px; }

.app-welcome__text {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 40px; }
  .app-welcome__text h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 20px 0; }
  .app-welcome__text p {
    margin: 0;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.51);
    font-size: 14px; }

.app-welcome .app-input-wrapper {
  padding-bottom: 20px; }

.app-welcome .app-button-wrapper {
  padding-bottom: 20px; }

.app-questions {
  position: relative; }
  .app-questions__header {
    background-size: cover;
    margin-bottom: 20px;
    padding: 60px 20px; }
    .app-questions__header h1 {
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
      text-align: center; }
  .app-questions__answers {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 40px;
    padding-top: 20px; }
  .app-questions__answer {
    display: inline-flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .app-questions__answer-container {
      padding: 20px; }
    .app-questions__answer:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .app-questions__answer input {
      margin-right: 20px; }
  .app-questions__title {
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 20px; }
  .app-questions__progress {
    margin-bottom: 20px;
    height: 5px;
    background: linear-gradient(to right, #736CEC 0%, #CDA1FA 100%);
    width: 0%;
    transition: width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

*, ::before, ::after {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

body {
  color: rgba(0, 0, 0, 0.87); }
