.app-welcome {
	&__logo {
		margin: 0 auto;
		text-align: center;
		padding: 0 90px;
		padding-top: #{$gutter * 2};

		img {
			vertical-align: top;
			width: 100%;
			max-width: 305px;
		}
	}

	&__text {
		text-align: center;
		padding: #{$gutter} 0;
		padding-bottom: #{$gutter * 2};

		h1 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0;
			padding: #{$gutter} 0;
		}

		p {
			margin: 0;
			padding: 0 #{$gutter};
			color: $secondary;
			font-size: 14px;
		}
	}

	.app-input-wrapper {
		padding-bottom: #{$gutter};
	}
	.app-button-wrapper {
		padding-bottom: #{$gutter};
	}
}
